<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FacebookAppID</key>
    <string>2197763431069255</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>instagram-stories</string>
    </array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Yıldızname burcunuzu paylaşmak için oluşturduğunuz görseli fotoğraflarınıza kaydetmek isteyebilir.</string>
</dict>
</plist>
